{% extends 'base.html' %}

{% block content %}

<section class="bdrop-what-we-do-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bdrop-what-we-title pb-25">
                        <h3 class="main-title">Уверенность, опыт и внимание к деталям.</h3>
                        <h6 class="sub-title">Наше кредо</h6>
                    </div> <!-- what we title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12 col-md-7">
                    <div class="bdrop-single-what-we mt-30">
                        <div class="bdrop-what-we-content">
                            <h5 class="bdrop-what-title"><a href="{% url 'show_about' %}">О нас.</a></h5>
                            <p class="text">Наша компания предоставляет полный перечень услуг по борьбе с вредителями и мероприятиями, направленными на предотвращение попадания вредителей на объект.</p>
                            <p class="text">Перед началом работы специалистами компании проводится полное обследование предприятия [территории, производственных, бытовых и административных зданий] с оценкой риска появления вредителей, заражения или повреждений, которые могут нанести вредители в пределах зданий, фундамента и территории.</p>
                            <p class="text">По результатам обследования специалистами создается программа мероприятий по борьбе с вредителями на год вперед, которая описывает процесс использования на практике данных о риске появления вредителей, определяемых в результате оценки объекта, а также возможности непрерывного или дальнейшего совершенствования.</p>
                            <p class="text">Данная программа корректируется на ежеквартальной основе на основании результатов проведенных мероприятий.</p>
                            <p class="text">Для выполнения работ по борьбе с вредителями компанией используются только разрешённые, в установленном законодат­ельством порядке, средства при наличии сопроводительных документов [сертификаты соответствия, декларации о соотве­тствии, свидетельства о государственной регистрации, инструк­ции по применению, паспорта безопасности и др]. Работа с пестицидами проводится в строгом соблюдении требований безопасности, установленными Российским и международным законодательством.</p>
                            <p class="text">В услуги компании входит: дерати­зация, дезинсекция, борьба с пти­цами, с бродячими животными и прочими вредителями.</p>

                        </div> <!-- what we content -->
                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

{% endblock %}