{% extends 'base.html' %}

{% block title %}
    
    Газация

{% endblock %}

{% load static %}

{% block content %}

<section class="bdrop-what-we-do-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bdrop-what-we-title pb-25">
                        <h3 class="main-title">Совремменные технологии на страже вашего бизнеса.</h3>
                        <h6 class="sub-title">Используем только лучшее в области газации и фумигации.</h6>
                    </div> <!-- what we title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12 col-md-7">
                    <div class="bdrop-single-what-we mt-30">
                        <div class="bdrop-what-we-content">
                            <h5 class="bdrop-what-title"><a href="{% url 'show_pesticide' %}">Газация.</a></h5>
                            <p class="text">Комплекс мероприятий, основанный на применении специального газораспылительного оборудования с целью уничтожения вредителей и возбудителей болезней растений путем отравления их ядовитыми парами и газами.</p>

                            <p class="text">1. Профилактическое обеззараживание.</p>
                            <p class="text">Проведение данных работ основано на обеззараживании влажным способом при помощи аэрозольных генераторов. Аэрозольный генератор создает мелкокапельный туман инсектицидного препарата, способный покрывать поверхности обрабатываемых площадей и проникать в такие труднодоступные места как щели и трещины. Мощность генераторов позволяет выполнять обработку объектов высотой до 12 метров.</p>

                            
                            <p class="text">2. Комплексная газовая обработка.</p>
                            <p class="text">
                            Незаменима для складских и производственных помещений с большим количеством оборудования. Данный метод основан на одновременном проведении двух видов обработки: фумигации и аэрозольной дезинсекции. В связи с тем, что газация фосфином не обладает остаточным действием препарата применение влажно-контактного метода обеспечивает пролонгацию эффективности обработки за счет оставшегося слоя контактных инсектицидов.</p>

                            <p class="text">3. Обработка газом «фосфин» зернопродуктов напольного и силосного хранения.</p>
                            <p class="text">
                            Данный метод позволяет равномерно распределить фумигант в продукции в необходимой концентрации. Фумигация зерна под плёнкой(палаткой) или в силосах производится с помощью специального оборудования. Необходимым условием для проведения данной обработки является соответствующий температурный режим, при котором температура продукции и внутренней зоны не должны быть ниже 15о С.</p>

                            <p class="text">4. Газация (Фумигация) с использованием генераторов фосфина СГФ-М2</p>
                            <p class="text">Напуск газа Фосфин из генераторов непосредственно в продукцию или помещение с продукцией</p>
                            <p class="text">Особенности обработки:</p>

                            <p class="text">При фумигации зерна, размещенного в силосах элеватора, не нужно перемещать зерно, длительно выдерживать экспозицию и длительно выдерживать период дегазации, как это требуется при применении таблеточных препаратов. Мы напускаем газ фосфин одновременно во все силоса, совмещая периоды газации и дегазации, поэтому уничтожение насекомых-вредителей в любом количестве зерна, размещенном на элеваторе, проводим в короткие сроки при гарантированной 100% эффективности.</p>
                            
                        </div> <!-- what we content -->
                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

<!--====== TESTIMONIAL PART START ======-->

<section class="bdrop-testimonial-area pt-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bdrop-section-title pb-60">
                    <h6 class="sub-titler">Проекты по газации</h6>
                    <h3 class="main-title">Последние проекты</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-active">
            
            {% for item in page_object %}
            <div class="col-lg-4">
                <div class="bdrop-single-testimonial bdrop-testimonial-2">
                    <div class="bdrop-single-news mt-30">
                        <div class="bdrop-news-image">
                            {% if item.image %}
                                <img src="{{ item.image.images.url }}" alt="">
                            {% else %}
                            <img src="{% static 'images/news-1.jpg' %}" alt="News">
                            {% endif %}
                        </div>
                        <div class="bdrop-news-content">
                            <span class="news-number">{{ forloop.counter }}</span>
                            <p class="news-date">{{ item.project.date_of_completion }}</p>
                            <h5 class="news-title"><a href="{% url 'show_project' slug=item.project.slug%}">{{ item.project.title }}</a></h5>
                        </div>
                    </div> <!-- single news -->
                </div> <!-- single-testimonial -->
            </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TESTIMONIAL PART ENDS ======-->

{% endblock %}