{% extends 'base.html' %}


{% block content %}
<section class="bdrop-what-we-do-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bdrop-what-we-title pb-25">
                        <!-- <h3 class="main-title">The 1st intelligence and collaboration platform for the construction industry.</h3>
                        <h6 class="sub-title">What we do</h6>-->
                    </div> <!-- what we title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="bdrop-single-what-we mt-30">
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>Наименование</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>ООО ДЕЗСПЕЦСЕРВИС</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>Юр. адрес</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>308510, Белгородская обл, Белгородский р-н, Разумное пгт, Чехова ул, д. 1, кв.(оф.) 2А</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>ОГРН</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>1203100007428</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>ИНН/КИО</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>3102047437</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>Номер счета</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>40702810300000151807</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>Адрес банка</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>Г МОСКВА</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>БИК</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>044525700</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>БАНК</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>АО "РАЙФФАЙЗЕНБАНК"</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>Корр. счет No</h5>
                            </div> <!-- what we content -->
                            <div class="bdrop-what-we-content col-lg-4 col-md-7">
                                <h5>30101810200000000700</h5>
                            </div>
                        </div>
                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

{% endblock %}