{% extends 'base.html' %}

{% block title %}
    
    Фумигация

{% endblock %}

{% load static %}

{% block content %}

<section class="bdrop-what-we-do-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bdrop-what-we-title pb-25">
                        <h3 class="main-title">Совремменные технологии на страже вашего бизнеса.</h3>
                        <h6 class="sub-title">Используем только лучшее в области фумигации.</h6>
                    </div> <!-- what we title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12 col-md-7">
                    <div class="bdrop-single-what-we mt-30">
                        <div class="bdrop-what-we-content">
                            <h5 class="bdrop-what-title"><a href="{% url 'show_fumigation' %}">Фумигация домов в Белгороде и Белгородской области.</a></h5>
                            <p class="text">ООО «ДЕЗСПЕЦСЕРВИС» проводит быструю, качественную санитарную обработку любых объектов. Наши сотрудники выполнят фумигацию:</p>

                            <ul>
                               <li>- Частных и загородных домов.</li>
                               <li>- Коттеджей</li>
                               <li>- Баз отдыха</li>
                               <li>- Бани</li>
                           </ul>

                            <p class="text">Профессиональные препараты обеспечивают качественную санитарную обработку, даже в самых труднодоступных местах.</p>

                            <p class="text">Фумигация помещений проводится после тщательного осмотра объекта. Специалисты выбирают оптимальный для конкретного случая препарат.</p>

                            <p class="text">Фумигация – одна из разновидностей санитарной обработки. Позволяет быстро, эффективно уничтожить вредителей и различные микроорганизмы.</p>
                           
                            
                            <p class="text">Наиболее распространенным и универсальным газом является фосфин. Фумигация дома в Белгороде с помощью этого препарата, гарантированно избавляет от любых паразитов. В зависимости от характера работ, может применяться в газообразном или таблетированном виде.</p>

                            <p class="text">Фосфин – ядовитый газ, практически не растворяющийся в воде, имеющий неприятный запах. С легкостью проникает через упаковочный материал. Подходит для обеззараживания овощей, фруктов, изделий из дерева. При правильном применении, безопасен для людей и домашних питомцев.</p>

                            <p class="text">Фумигация деревянного дома в Белгороде и Белгородской области необходима при поражении вредителями. В частности, при появлении короедов, проводится обработка фосфином. Ведь эти вредители, довольно быстро могут привести здание в негодность. Санитарной обработке подвергается и мебель, и прочие деревянные предметы интерьера.</p>

                            <p class="text">Справиться с вредителями самостоятельно, очень проблематично. Ведь многие устойчивы к отраве, быстро распространяются, обитают в труднодоступных местах. Фумигация фосфином, проведенная сотрудниками службы дезинфекции ООО «ДЕЗСПЕЦСЕРВИС» позволит быстро избавиться от любых вредителей.</p>
                            <p class="text">Фумигация дома фосфином начинается с внимательного осмотра пораженной территории. Устанавливается сложность, объем работ.</p>
                        </div> <!-- what we content -->
                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->

            <br>
            <p class="text">Стоимость фумигации фосфином:</p><hr>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <table border="1">
                            <thead align="center">

                                <tr><td><h5>Площадь помещения</h5></td><td><h5>Стоимость</h5></td></tr>
                            </thead>
                            <tbody align="center">
                                <tr><td><h7>до 100 кв.м</h7> </td><td><h7>12000 руб</h7></td></tr>
                                <tr><td><h7>100-200 кв.м</h7> </td><td><h7>20000 руб</h7></td></tr>
                                <tr><td><h7>200-300 кв.м</h7> </td><td><h7>30000 руб</h7></td></tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div> <!-- what we content -->

            <br>
            <div class="row">
                <div class="col-lg-12 col-md-7">
                    <div class="bdrop-single-what-we mt-30">
                        <div class="bdrop-what-we-content">
                            <p class="text">Тщательно выверяется концентрация препарата. Для обеспечения герметичности, окна и двери в помещении плотно закрываются. При наличии домашних питомцев, на время санитарной обработки они удаляются.</p>

                            

                            <p class="text">Процедура проводится опытными сотрудниками, имеющими допуск к работе с ядами. Обязательно используются средства индивидуальной защиты. Фосфин наносится с помощью профессионального оборудования от ведущих российских и европейских производителей.</p>

                            <p class="text">Продолжительность санитарной обработки зависит от количества вредителей, объема, сложности работ. Обычно помещение остается закрытым 2-3 дня. Это позволяет фосфину проникнуть во все щели, трещины, другие труднодоступные места, уничтожив не только взрослых вредителей, но и личинки.</p>

                        </div> <!-- what we content -->
                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

<!--====== TESTIMONIAL PART START ======-->

<section class="bdrop-testimonial-area pt-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bdrop-section-title pb-60">
                    <h6 class="sub-titler">Проекты по фумигации</h6>
                    <h3 class="main-title">Последние проекты</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-active">
            
            {% for item in page_object %}
            <div class="col-lg-4">
                <div class="bdrop-single-testimonial bdrop-testimonial-2">
                    <div class="bdrop-single-news mt-30">
                        <div class="bdrop-news-image">
                            {% if item.image %}
                                <img src="{{ item.image.images.url }}" alt="">
                            {% else %}
                            <img src="{% static 'images/news-1.jpg' %}" alt="News">
                            {% endif %}
                        </div>
                        <div class="bdrop-news-content">
                            <span class="news-number">{{ forloop.counter }}</span>
                            <p class="news-date">{{ item.project.date_of_completion }}</p>
                            <h5 class="news-title"><a href="{% url 'show_project' slug=item.project.slug%}">{{ item.project.title }}</a></h5>
                        </div>
                    </div> <!-- single news -->
                </div> <!-- single-testimonial -->
            </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TESTIMONIAL PART ENDS ======-->

{% endblock %}