{% extends 'base.html' %}

{% block title %}
    
    Дезинсекция

{% endblock %}

{% load static %}

{% block content %}

<section class="bdrop-what-we-do-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bdrop-what-we-title pb-25">
                        <h3 class="main-title">Найти и уничтожить? Нет ничего проще!</h3>
                        <h7 class="sub-title">Это стоит проверить!</h7>
                    </div> <!-- what we title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12 col-md-7">
                    <div class="bdrop-single-what-we mt-30">
                        <div class="bdrop-what-we-content">
                            <h5 class="bdrop-what-title"><a href="{% url 'show_pestcontrol' %}">Дезинсекция.</a></h5>
                            <p class="text">Методы борьбы на внешней территории</p>
                            <p class="text">Обследование объекта:
                            Мы производим обследование объекта на наличие вредителей, осматриваем вентиляционные установки, исследуем другие факторы, направленные на обнаружение, предотвращение проникновения, развития насекомых на объек­те. При обнаружении определяем их видовую принадлежность, численность, особенности и причины размещения или проникно­вения с целью выбора оптимальной методики предотвращения численности, а также проводим оценку санитарно-гигие­нического и инженерно-технического состояния объекта.</p>
                            <p class="text">При обследовании объектов производится общий анализ и определяются методы обнаружения борьбы с насекомыми. Общий анализ включает в себя выявление, жалобы, характер и масштабы причиняемого вреда, определение причин появления на объекте. Методы обнаружения насекомых на объекте: контрольными ловушками с половым феромоном или аттрактантом с клеевыми основами, инсектицидными лампами и другим контрольным оборудованием. По результатам обследования оценивается состояние объекта.</p>
                            <br>

                            <p class="text">Методы борьбы во внутренней территории</p>
                            <p class="text">Расстановка контрольных точек зерновых вредителей осуществляется в местах потенциального риска заражения продукта или сырья. Замена феромонов происходит каждые 2 месяца, замена липких основ не реже чем 1 раз в 2 месяца.</p>
                            <br>

                            <p class="text">МЕТОДЫ БОРЬБЫ.</p>
                            <p class="text">Профилактические мероприятия:</p>
                                <li>Составление рекомендаций по инженерно-техническому состоянию оборудования и проведению мероприятий по предотвращению рисков проникновения насекомых на объект.</li>
                                <li>Составление рекомендаций по поддержанию санитарно­го состояния на объекте.</li>
                                <li>Составление рекомендаций по предотвращению попада­ния уличных насекомых.</li>
                                <li>Осмотр и составление рекомендаций по сырью и точкам контроля зерновых вредителей.</li>
                                <li>Расстановка контрольных точек (липких основ с привлека­ющими элементами) в местах повышенного риска появле­ния насекомых.</li>

                            <p class="text">Истребительные мероприятия.</p>
                                <li>Планирование истребительных мероприятий на основа­нии определения видов, численности, пищевой специали­зации, типов и видов очагов, и других особенностей вреди­телей.</li>
                                <li>Установка дополнительных контрольных точек [липких основ с привлекающими элементами].</li>
                                <li>Локальные обработки без остановки производства.</li>
                                <li>Тотальные обработки помещения или всего производства.</li>
                                <li>Проведение инспекции с принятием корректирующих действий, составление отчетов и рекомендаций.</li>

                            
                            <p class="text">Мы используем самые современные методы обработок, которые позволяют осуществлять борьбу с насекомыми без остановки произво­дства: пародезинсекция и криоген, генерация газа.</p>

                            <p class="text">Пародезинсекция - это уникальная методика при использовании парогенератора и инсектицида. Пар - газообразное состояние вещества в условиях, когда газовая фаза может находиться в равновесии с жидкой или твёрдой фазами того же вещества. Секрет заключается в запатен­тованной компанией Euroflex инновационной конструкции - паровом резервуаре высокого давления и дополнительном резервуаре для препарата. Непрерывный пар под высоким давле­нием в 3 атмосферы и постоянная температура, независимо от количества воды в баке. Ни один из парогенераторов в мире не имеет таких характеристик. Дозировка препарата на 10 меньше допусти­мой минимальной концентрации, которая опасна для человека.</p>

                            <p class="text">Фумигация - для фумигации применяют препараты на основе газа Фосфин. Фумигацию помещений проводят при температуре воздуха в помещении не ниже 15°С. После окончания экспозиции газации помещение дегазируют. Для фумигации мы можем проводить герметизацию.</p>

                        </div> <!-- what we content -->
                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

<!--====== TESTIMONIAL PART START ======-->

<section class="bdrop-testimonial-area pt-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bdrop-section-title pb-60">
                    <h6 class="sub-titler">Проекты по дезинсекции</h6>
                    <h3 class="main-title">Последние проекты</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-active">
            
            {% for item in page_object %}
            <div class="col-lg-4">
                <div class="bdrop-single-testimonial bdrop-testimonial-2">
                    <div class="bdrop-single-news mt-30">
                        <div class="bdrop-news-image">
                            {% if item.image %}
                                <img src="{{ item.image.images.url }}" alt="">
                            {% else %}
                            <img src="{% static 'images/news-1.jpg' %}" alt="News">
                            {% endif %}
                        </div>
                        <div class="bdrop-news-content">
                            <span class="news-number">{{ forloop.counter }}</span>
                            <p class="news-date">{{ item.project.date_of_completion }}</p>
                            <h5 class="news-title"><a href="{% url 'show_project' slug=item.project.slug%}">{{ item.project.title }}</a></h5>
                        </div>
                    </div> <!-- single news -->
                </div> <!-- single-testimonial -->
            </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TESTIMONIAL PART ENDS ======-->

{% endblock %}