{% extends 'base.html' %}

{% block title %}

Дезинсекция

{% endblock %}

{% load static %}

{% block content %}

<section class="bdrop-what-we-do-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bdrop-what-we-title pb-25">
                    <h3 class="main-title">Найти и уничтожить? Нет ничего проще!</h3>
                    <h7 class="sub-title">Это стоит проверить!</h7>
                </div> <!-- what we title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="bdrop-single-what-we mt-30">
                    <div class="bdrop-what-we-content">
                        <h5 class="bdrop-what-title"><a href="{% url 'show_pestcontrol' %}">Дезинсекция.</a></h5>
                        <p class="text">Методы борьбы на внешней территории</p>
                        <p class="text">Обследование объекта:
                        Мы производим обследование объекта на наличие вредителей, осматриваем вентиляционные установки, исследуем другие факторы, направленные на обнаружение, предотвращение проникновения, развития насекомых на объек­те. При обнаружении определяем их видовую принадлежность, численность, особенности и причины размещения или проникно­вения с целью выбора оптимальной методики предотвращения численности, а также проводим оценку санитарно-гигие­нического и инженерно-технического состояния объекта.</p>
                        <p class="text">При обследовании объектов производится общий анализ и определяются методы обнаружения борьбы с насекомыми. Общий анализ включает в себя выявление, жалобы, характер и масштабы причиняемого вреда, определение причин появления на объекте. Методы обнаружения насекомых на объекте: контрольными ловушками с половым феромоном или аттрактантом с клеевыми основами, инсектицидными лампами и другим контрольным оборудованием. По результатам обследования оценивается состояние объекта.</p>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="text">Методы борьбы во внутренней территории</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="{% static 'images/3.jpg' %}" style="width: 350px">
                            </div>
                        </div>
                        
                        <p class="text">Расстановка контрольных точек зерновых вредителей осуществляется в местах потенциального риска заражения продукта или сырья. Замена феромонов происходит каждые 2 месяца, замена липких основ не реже чем 1 раз в 2 месяца.</p>
                        <br>

                        <p class="text">МЕТОДЫ БОРЬБЫ.</p>
                        <p class="text">Профилактические мероприятия:</p>
                        <li>Составление рекомендаций по инженерно-техническому состоянию оборудования и проведению мероприятий по предотвращению рисков проникновения насекомых на объект.</li>
                        <li>Составление рекомендаций по поддержанию санитарно­го состояния на объекте.</li>
                        <li>Составление рекомендаций по предотвращению попада­ния уличных насекомых.</li>
                        <li>Осмотр и составление рекомендаций по сырью и точкам контроля зерновых вредителей.</li>
                        <li>Расстановка контрольных точек (липких основ с привлека­ющими элементами) в местах повышенного риска появле­ния насекомых.</li>

                        <p class="text">Истребительные мероприятия.</p>
                        <li>Планирование истребительных мероприятий на основа­нии определения видов, численности, пищевой специали­зации, типов и видов очагов, и других особенностей вреди­телей.</li>
                        <li>Установка дополнительных контрольных точек [липких основ с привлекающими элементами].</li>
                        <li>Локальные обработки без остановки производства.</li>
                        <li>Тотальные обработки помещения или всего производства.</li>
                        <li>Проведение инспекции с принятием корректирующих действий, составление отчетов и рекомендаций.</li>


                        <p class="text">Мы используем самые современные методы обработок, которые позволяют осуществлять борьбу с насекомыми без остановки произво­дства: пародезинсекция и криоген, генерация газа.</p>

                        <p class="text">Пародезинсекция - это уникальная методика при использовании парогенератора и инсектицида. Пар - газообразное состояние вещества в условиях, когда газовая фаза может находиться в равновесии с жидкой или твёрдой фазами того же вещества. Секрет заключается в запатен­тованной компанией Euroflex инновационной конструкции - паровом резервуаре высокого давления и дополнительном резервуаре для препарата. Непрерывный пар под высоким давле­нием в 3 атмосферы и постоянная температура, независимо от количества воды в баке. Ни один из парогенераторов в мире не имеет таких характеристик. Дозировка препарата на 10 меньше допусти­мой минимальной концентрации, которая опасна для человека.</p>


                        <p class="text">Дезинсекция в жилых помещениях производится с помощью генератора холодного тумана: инсектицид без запаха и цвета распыляется в наиболее вероятных местах обитания насекомых. Действует как на взрослых особей так и на личинки. За счет большего размера капель (50-80 микрон), препарат держится не более часа, затем оседает на поверхность. При это никаких следов на тканях, коже не остается.</p>

                        <p class="text">Более эффективная дезинсекция осуществляется с помощью генератора горячего тумана (или уменьшенной версией для небольших помещений или квартир). Препарат выходит в газообразном состоянии и не повышает влажность, температуру окружающей среды. За счет более мелких капель (до 8 микрон) способен проникать в самые труднодоступные места. При таком методе дезинсекции не потребуется отодвигать мебель. Как и холодный туман действие препарата направлено как на взрослых особей, так и на потомство.</p>
                    </div> <!-- what we content -->
                </div> <!-- single what we -->
            </div>
        </div>            
        <p class="text">Расценки на дезинсекцию квартир: Уничтожение тараканов</p><hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table border="1">
                            <thead align="center">
                                <tr>
                                    <td>
                                        <h5>Размер помещения</h5>
                                    </td>
                                    <td>
                                        <h5>Гарантия до 0,5 года*</h5>
                                    </td>
                                    <td>
                                        <h5>Гарантия год</h5>
                                    </td>
                                    <td>
                                        <h5>Гарантия 1 год + барьерная защита</h5>
                                    </td>
                                    <td>
                                        <h5>Запущенный случай гар до 0,5 года*обработка с запахом</h5>
                                    </td>
                                    <td>
                                        <h5>Запущенный случай обработка без запаха гар до 0,5 года*</h5>
                                    </td>
                                    <td>
                                        <h5>Обработка холодным туманом гарантия год</h5>
                                    </td>
                                    <td>
                                        <h5>Обработка горячим туманом гарантия год</h5>
                                    </td>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr>
                                    <td>
                                        <h7>Места общего пользования (МОП)</h7>
                                    </td>
                                    <td>
                                        <h7>1500 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>нет</h7>
                                    </td>
                                    <td>
                                        <h7>нет</h7>
                                    </td>
                                    <td>
                                        <h7>1800 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2200 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>1800 руб.*</h7>
                                    </td>
                                    <td>
                                        <h7>2200 руб.*</h7>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h7>1 ком квартира</h7>
                                    </td>
                                    <td>
                                        <h7>1500 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>1800 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2200 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2200 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2600 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2600 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3000 руб.</h7>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h7>2 ком квартира</h7>
                                    </td>
                                    <td>
                                        <h7>1800 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2200 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2600 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2600 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3000 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3000 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3400 руб.</h7>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h7>3 ком квартира</h7>
                                    </td>
                                    <td>
                                        <h7>2200 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>2600 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3000 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3000 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3400 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3400 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3800 руб.</h7>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h7>4 ком квартира</h7>
                                    </td>
                                    <td>
                                        <h7>2600 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3000 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3400 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3400 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3800 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3800 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>4200 руб.</h7>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h7>5 ком квартира</h7>
                                    </td>
                                    <td>
                                        <h7>3000 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3400 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3800 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>3800 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>4200 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>4200 руб.</h7>
                                    </td>
                                    <td>
                                        <h7>4600 руб.</h7>
                                    </td>
                                </tr>    
                            </tbody>
                        </table>
                    </div>        
                </div> <!-- section title -->                                    
            </div> <!-- row -->
        </div> <!-- container -->  

        <br>

        <p class="text">Цены на дезинсекцию домов</p><hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <table border="1">
                        <thead align="center">

                            <tr>
                                <td>
                                    <h5>Площадь дома ( м²)</h5>
                                </td>
                                <td>
                                    <h5>Цена (руб/ м²)</h5>
                                </td>
                            </tr>
                        </thead>
                        <tbody align="center">
                            <tr>
                                <td>
                                    <h7>До 100</h7>
                                </td>
                                <td>
                                    <h7>3500 руб.</h7>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h7>100-200</h7>
                                </td>
                                <td>
                                    <h7>35</h7>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h7>200-300</h7>
                                </td>
                                <td>
                                    <h7>30</h7>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h7>300-400</h7>
                                </td>
                                <td>
                                    <h7>25</h7>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h7>400-500</h7>
                                </td>
                                <td>
                                    <h7>20</h7>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h7>Более 500</h7>
                                </td>
                                <td>
                                    <h7>договорная</h7>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>

        <p class="text">Цены для юридических лиц</p><hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <table border="1">
                        <thead align="center">

                            <tr><td><h5>Площадь помещения</h5></td><td><h5>Разовая обработка (руб. за м²)</h5></td><td><h5>Обработка раз в квартал (руб. за м²)</h5></td><td><h5>Цена раз в месяц (руб. за м²)</h5></td></tr>
                        </thead>
                        <tbody align="center">
                            <tr><td><h7>100 м²</h7> </td><td><h7>от 35</h7></td><td><h7>от 30</h7></td><td><h7>от 25</h7></td></tr>
                            <tr><td><h7>100-300 м²</h7> </td><td><h7>от 30</h7></td><td><h7>от 25</h7></td><td><h7>от 20</h7></td></tr>
                            <tr><td><h7>300-500 м²</h7> </td><td><h7>от 25</h7></td><td><h7>от 20</h7></td><td><h7>от 17</h7></td></tr>
                            <tr><td><h7>500-1000 м²</h7> </td><td><h7>от 20</h7></td><td><h7>от 17</h7></td><td><h7>от 15</h7></td></tr>
                            <tr><td><h7>1000-2500 м²</h7> </td><td><h7>от 15</h7></td><td><h7>от 13</h7></td><td><h7>от 10</h7></td></tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="bdrop-single-what-we mt-30">
                    <div class="bdrop-what-we-content">
                        <p class="text">Тараканы очень адаптивны к окружающей среде, они отлично приспосабливаются к самым разнообразным условиям, более того к их постоянному изменению. Насекомые селятся по всей площади жилища, хотя их наибольшее количество всегда обитает на кухне, или там где есть всегда еда и вода. Как известно, тараканы живут в самых труднодоступных местах, узких щелях в стене или полу, коммуникациях, предметах интерьера и мебели, куда не доберется ни один человек. Эти насекомые живут и в жару, и в холод, могут долгое время переносить нулевую температуру. Именно поэтому наиболее эффективным способом борьбы с тараканами является применение современных химических средств.</p>
                        <p class="text">На данный момент существуют множество методов и средств по борьбе с тараканами, как откровенно нелепых так и реально способных обеспечить уничтожение этих вредных насекомых уже после единоразового применения. Однако по настоящему эффективная борьба с тараканами в квартире возможна только в том случае, если ее проводит специалист-профессионал дезинсектор. Уничтожение специальными средствами, т.е. применение уникальной технологии и эффективных веществ, позволит вам избавиться от этих неприятных соседей раз и навсегда.</p>
                        <p class="text">ООО «ДЕЗСПЕЦСЕРВИС» предлагает вам услуги по уничтожению тараканов и прочих насекомых, вредителей и паразитов. Эффективная борьба с тараканами является одним из наиболее приоритетных видов наших услуг, мы имеем проверенную годами технологию. В арсенале нашей фирмы находятся самые современные средства борьбы с тараканами – препараты-инсектициды, которые помогут вам быстро и гарантированно надежно избавиться от них.</p>

                        <br>


                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <p class="text">Стоимость обработки бытовок, вагончиков, спальных мест</p><hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <table border="1">
                        <thead align="center">

                            <tr><td><h5>Площадь обработки</h5></td><td><h5>Стоимость</h5></td></tr>
                        </thead>
                        <tbody align="center">
                            <tr><td><h7>Стандартная бытовка, вагончик</h7> </td><td><h7>От 500-110 руб.</h7></td></tr>
                            <tr><td><h7>Дополнительные спальные места</h7> </td><td><h7>100-300 руб./место</h7></td></tr>


                        </tbody>
                    </table>
                </div>  
            </div>
        </div>


        <br>

        <p class="text">Стоимость обработки автомобилей</p><hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <table border="1">
                        <thead align="center">

                            <tr><td><h5>Грузоподъемность</h5></td><td><h5>Стоимость</h5></td></tr>
                        </thead>
                        <tbody align="center">
                            <tr><td><h7>До 2 тонн</h7> </td><td><h7>От 300 руб./ед.</h7></td></tr>
                            <tr><td><h7>От 2 до 5 тонн</h7> </td><td><h7>От 500 руб./ед.</h7></td></tr>
                            <tr><td><h7>Свыше 5 тонн</h7> </td><td><h7>договорная</h7></td></tr>


                        </tbody>
                    </table>


                </div>
            </div>
        </div> <!-- what we content -->

        <br>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="bdrop-single-what-we mt-30">
                    <div class="bdrop-what-we-content">
                        <h5>ООО «ДЕЗСПЕЦСЕРВИС» профессионально защитит Ваш дом и участок от насекомых-вредителей всего в любой точке Белгорода и Белгородской  области!</h5>
                        <p class="text">Муравьи угрожают гибелью Вашему огороду!</p>
                        <p class="text">Они способствуют появлению и распространению тли, главного садового вредителя. Если муравьев стало очень много, они могут угнетать бутоны цветов и садовые культуры, вплоть до поедания корнеплодов, и, конечно самое неприятное - проникнуть в дом...
Тля - главный вредитель!</p>

                        <br>


                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

        <p class="text">Цены на обработку деревьев и кустарников от вредителей:</p><hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">

                    <table border="1">
                        <!-- <thead align="center">

                            <tr><td><h5>До 10 деревьев высотой более 3м</h5></td><td><h5>Стоимость</h5></td></tr>
                        </thead> -->
                        <tbody align="center">
                            <tr><td><h7>До 10 деревьев высотой более 3м</h7> </td><td><h7>1200-2000 руб. за дерево</h7></td></tr>
                            <tr><td><h7>Более 10 деревьев высотой более 3м</h7> </td><td><h7>1000 рублей за каждое</h7></td></tr>
                            <tr><td><h7>Более 20 деревьев высотой более 3м</h7> </td><td><h7>800 рублей за каждое</h7></td></tr>
                            <tr><td><h7>Более 100 деревьев высотой более 3м</h7> </td><td><h7>Цена договорная</h7></td></tr>
                            <tr><td><h7>Обработка кустарника высотой до 1,5м</h7> </td><td><h7>500 рублей</h7></td></tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-lg-6 col-12">
                    <img src="{% static 'images/4.jpg' %}" style="width: 350px">
                </div>
            </div>
        </div> <!-- what we content -->


        <br>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="bdrop-single-what-we mt-30">
                    <div class="bdrop-what-we-content">
                        <h5>  ООО «ДЕЗСПЕЦСЕРВИС» гарантирует Вам защиту</h5>
                        <p class="text">от насекомых-вредителей и спокойный отдых на собственном участке</p>
                        <p class="text">1. БЕЗОПАСНО
                            Обработка на 100% безопасна для людей,
                            домашних животных и растений. Наши
                        препараты не накапливаются на почве и не влияют на экологию участка.</p>
                        <p class="text">2. ЭФФЕКТИВНО
                            100% насекомых погибают в течение 10 минут после попадания
                        на обработанную территорию. Участок остается безопасным на весь сезон.</p>
                        <p class="text">3. КАЧЕСТВЕННО
                            Минимум в течение 1 месяца Вы не найдете вредителей!
                            Если по какой-то причине вы заметили насекомых,
                        мы приедем и обработаем участок совершенно бесплатно</p>
                        <p class="text">    4. БЫСТРО
                            Через 1 час после обработки можно выходить
                            на участок, выпустить детей и животных,
                        играть на безопасной территории.</p>
                        <p class="text">    5. КОМПЛЕКСНО
                            Действует на 99% насекомых-вредителей
                            при обработке уничтожаются клещи,
                        комары, осы, шершни, муравьи, тля, паутинный клещ и другие.</p>

                        

                       


                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

        <br>
        <p class="text">Цена обработки участка:</p><hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <table border="1">
                        <thead align="center">

                            <tr><td><h5>Площадь</h5></td><td><h5>Цена, руб.</h5></td></tr>
                        </thead>
                        <tbody align="center">
                            <tr><td><h7>До 10 соток</h7> </td><td><h7>7000</h7></td></tr>
                            <tr><td><h7>10-15 соток</h7> </td><td><h7>8000</h7></td></tr>
                            <tr><td><h7>15-20 соток</h7> </td><td><h7>9000</h7></td></tr>
                            <tr><td><h7>20-25 соток</h7> </td><td><h7>10000</h7></td></tr>
                            <tr><td><h7>25-30 соток</h7> </td><td><h7>11000</h7></td></tr>
                            <tr><td><h7>30-35 соток</h7> </td><td><h7>12000</h7></td></tr>
                            <tr><td><h7>35-40 соток</h7> </td><td><h7>13000</h7></td></tr>
                            <tr><td><h7>40-45 соток</h7> </td><td><h7>14000</h7></td></tr>
                            <tr><td><h7>45-50 соток</h7> </td><td><h7>15000</h7></td></tr>
                            <tr><td><h7>50-60 соток</h7> </td><td><h7>16000</h7></td></tr>
                            <tr><td><h7>60-70 соток</h7> </td><td><h7>17000</h7></td></tr>
                            <tr><td><h7>70-80 соток</h7> </td><td><h7>18000</h7></td></tr>
                            <tr><td><h7>80-90 соток</h7> </td><td><h7>19000</h7></td></tr>
                            <tr><td><h7>100 соток (ГА)</h7> </td><td><h7>20000</h7></td></tr>
                            <tr><td><h7>200 соток (2 ГА)</h7> </td><td><h7>36000</h7></td></tr>
                            <tr><td><h7>300 соток (3 ГА)</h7> </td><td><h7>46000</h7></td></tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div> <!-- what we content -->


        <br>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="bdrop-single-what-we mt-30">
                    <div class="bdrop-what-we-content">
                        <p class="text">Опрыскивание деревьев – необходимая процедура ухода и профилактики за деревьями на участке. В ней нуждаются, как плодовые, так и декоративные растения. </p>
                        <p class="text">Специалист производит хим. обработку с помощью специального оборудования.</p>
                        <p class="text">Состав смеси подбирается индивидуально, в зависимости от состояния и породы дерева. Важно доверить эту работу профессионалам, поскольку неверно подобранные пропорции состава и обильность обработки могут привести к химическим ожогам деревьев или сделать урожай несъедобным.</p>
                    </div> <!-- single what we -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL PART START ======-->

    <section class="bdrop-testimonial-area pt-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bdrop-section-title pb-60">
                        <h6 class="sub-titler">Проекты по дезинсекции</h6>
                        <h3 class="main-title">Последние проекты</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row testimonial-active">

                {% for item in page_object %}
                <div class="col-lg-4">
                    <div class="bdrop-single-testimonial bdrop-testimonial-2">
                        <div class="bdrop-single-news mt-30">
                            <div class="bdrop-news-image">
                                {% if item.image %}
                                <img src="{{ item.image.images.url }}" alt="">
                                {% else %}
                                <img src="{% static 'images/news-1.jpg' %}" alt="News">
                                {% endif %}
                            </div>
                            <div class="bdrop-news-content">
                                <span class="news-number">{{ forloop.counter }}</span>
                                <p class="news-date">{{ item.project.date_of_completion }}</p>
                                <h5 class="news-title"><a href="{% url 'show_project' slug=item.project.slug%}">{{ item.project.title }}</a></h5>
                            </div>
                        </div> <!-- single news -->
                    </div> <!-- single-testimonial -->
                </div>
                {% endfor %}
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL PART ENDS ======-->

    {% endblock %}