{% extends 'base.html' %}

{% block title %}
    
    Дератизация

{% endblock %}

{% load static %}

{% block content %}

<section class="bdrop-what-we-do-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bdrop-what-we-title pb-25">
                    <h3 class="main-title">О грызунах мы знаем все...</h3>
                    <h7 class="sub-title">Народная мудрость</h7>
                </div> <!-- what we title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="bdrop-single-what-we mt-30">
                    <div class="bdrop-what-we-content">
                        <h5 class="bdrop-what-title"><a href="{% url 'show_pesticide' %}">Дератизация.</a></h5>
                        <p class="text">Сотрудники компании проводят обследование объекта и прилегающую к ним территорию, природных и антропургических очагов. Направленное на обнаружение нор, грызунов и следов жизнедеятельности, определение их видовой принадлежности, численности, особенностей размещения, путей передвижения целью выбора стратегии для снижения численности грызунов, а также на оценку санитарно-технического и инженерно-технического состояния объекта.</p>

                        <p class="text">При обследовании объектов составляется общая оценка, и определяются методы обнаружения грызунов. Общая оценка включает в себя выявление следов жизнедеятельности грызунов, жилые норы, помет или погрызы, наличие жалоб на грызунов, характер и масштабы причиняемого ими вреда, определение периодичности и появления грызунов на объекте.</p>

                        <p class="text">Метод обнаружения грызунов на объекте проводится контроль­ными ловушками с приманкой, ловушками с клеевыми основами, использование контрольных точек с путевыми проявителями (специальным порошком, разрешённым на пищевом произво­дстве), заделыванием нор и другими методами. По результатам обследования, оценивается состояние объектов и прилегающих к ним территорий.</p>

                        <p class="text">Расстановка контрольных точек осуществляется с учетом безопасности для человека и продукции. Мы используем ядоп- риманку только на внешней территории в специальных контей­нерах, которые закрываются на ключ. Записи об использовании родентицидов заносятся в журнал об использовании пестицидов и химикатов, при каждом их приме­нении.</p>

                        <br>
                        <p class="text">Профилактические мероприятия:</p>
                        
                        <li>Составление рекомендаций по инженерно-техническому состоянию и проведению мероприятий по предотвращению рисков проникновения грызунов на объект.</li>
                        <li>Составление рекомендаций по поддержанию санитарного состояния на объекте и на территории прилегающей к объекту.</li>
                        <li>Составление рекомендаций по агротехническому состоянию (недопущению и предотвращение факторов развития  вредителей на территории и за ней).</li>
                        <br>

                        <p class="text">Истребительные мероприятия:</p>
                        <li>Планирование истребительных мероприятий [определение видов, численности, пищевой специализации, типов и очагов, других особенностей вредителей и определение мест развития].</li>
                        <li>Расстановка контрольно-истребительных площадок (контейнеров с ядоприманкой), наша компания делает минимум два контура, при необходимости в три контура.</li>
                        <li>По периметру территории через каждые 20 м вдоль ограждения.</li>
                        <li>Вдоль строений через каждые 10 м вдоль отмостки.</li>
                        <li>При необходимости на не застроенных участках из расчета 1 контрольная точка на 100 кв. м.</li>
                        <li>Проведение инспекции зон с принятием корректирующих действий, составление отчетов и рекомендаций.</li>


                        <p class="text">Методы борьбы во внутренней территории</p>
                        <p class="text">Контроль и ведение еженедельных, ежемесячных и годовых отчетов с указанием:</p>
                            <li>Наличие отловленного грызуна;</li>
                            <li>Обнаружение следов грызунов с помощью контрольных точек с путевыми проявителями;</li>
                            <li>Открытое перемещение грызунов по объекту или территории;</li>
                            <li>Наличие жилых нор, свежего помета, повреждение продуктов, тары и других предметов;</li>
                            <li>Поедание грызунами разложенной приманки;</li>
                            <li>Отчеты по электронной почте с графиками.</li>
                        <p class="text">Утилизация грызунов осуществляется сотрудниками компании самостоятельно в соответствии с требованиями МУ  3.5.3.2949-11 «Борьба с грызунами в населенных пунктах, на железнодорожном, водном, воздушном транспорте».
                        Методы борьбы во внутренней территории здания (произво­дственные, складские, офисные и вспомогательные поме­щения).
                        <p class="text">Профилактические мероприятия:</p>
                            <li>Составление рекомендаций по инженерно-техническому, санитарному состоянию на объекте в рабочих и подсобных помещениях, подвалах и тд.
                        Истребительные мероприятия.</li>
                        <p class="text">Планирование истребительных мероприятий: определе­ние видов, численности, пищевой специализации, типов и видов очагов, других особенностей вредителей.
                        <p class="text">Расстановка контрольных точек (КТ) с липкими площадка­ми, разрешёнными на пищевом производстве производит­ся:</p>
                            <li>Вдоль стен через каждые 2-15 метров.</li>
                            <li>Возле дверей выходящих на улицу по 1 КТ с каждой сторо­ны.</li>
                            <li>При необходимости выставляются дополнительные КТ для максимально быстрого уничтожения популяции.</li>
                        <p class="text">Контрольные точки подразумевают под собой многомес­тные контейнеры-живоловки закрывающихся на ключ с клеевой основой. В местах большого трафика людей, где ловушки могут сдвинуть с места, ловушки закрепляются на специальные уголки.</p>
                        <p class="text">Все контейнеры имеют крепление, маркировку-обоз­начение и номер. Составляются схемы их размещения во всех производственных помещениях и установленных по уличной территории.</p>
                        <p class="text">Еженедельно сотрудниками нашей компании проводится обход-обследование ловушек и близлежащей территории, замена клеевых основ, составление статистики и анализа, динамика появления или отсутствие вредителей.</p>
                    </div> <!-- what we content -->
                </div> <!-- single what we -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TESTIMONIAL PART START ======-->

<section class="bdrop-testimonial-area pt-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bdrop-section-title pb-60">
                    <h6 class="sub-titler">Проекты по дератизации</h6>
                    <h3 class="main-title">Последние проекты</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-active">
            
            {% for item in page_object %}
            <div class="col-lg-4">
                <div class="bdrop-single-testimonial bdrop-testimonial-2">
                    <div class="bdrop-single-news mt-30">
                        <div class="bdrop-news-image">
                            {% if item.image %}
                                <img src="{{ item.image.images.url }}" alt="">
                            {% else %}
                            <img src="{% static 'images/news-1.jpg' %}" alt="News">
                            {% endif %}
                        </div>
                        <div class="bdrop-news-content">
                            <span class="news-number">{{ forloop.counter }}</span>
                            <p class="news-date">{{ item.project.date_of_completion }}</p>
                            <h5 class="news-title"><a href="{% url 'show_project' slug=item.project.slug%}">{{ item.project.title }}</a></h5>
                        </div>
                    </div> <!-- single news -->
                </div> <!-- single-testimonial -->
            </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TESTIMONIAL PART ENDS ======-->

{% endblock %}