


/*===========================
     12.CLIENT LOGO css 
===========================*/


.bdrop-client-logo-area{}

.bdrop-single-client-logo{
    border: 1px solid $gray;
    margin-top: -1px;
    margin-right: -1px;
    
    & img{
        width: 100%;
    }
}







